body {
background: url('/images/81iC+O0ec2L._SL1448_.jpg') no-repeat  center/cover;
font-family: 'League Gothic', sans-serif;
font-family: 'Palanquin Dark', sans-serif;
font-family: 'Roboto', sans-serif;
color: rgb(255, 255, 255);
} 
.container{
    display: flex;
}

.topCard {
border: 6px solid black;
border-radius: 10px;
background-color: rgb(105, 93, 210);
text-align: center;
}

.middleCard {
border: 5px solid rgb(0, 0, 0);
border-radius: 10px;
background-color: rgb(148, 242, 171);
text-align: center;
}

.highlighting {
background-color: white;
max-width: 150px;
}
