*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  background: var(--primary-color);
  box-sizing: border-box;
  font-family: --primary-font;
  font-weight: --primary-font-weight;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header */

#head-content {
    width: 100vw;
    height: 100vh;
}

.container {
    height: 100vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.container h1 {
  font-size: 4rem;
}

.card-one {
    border: solid black 0.1rem;
    ;
    max-width: 50%;
    text-align: center;
    color: aliceblue;
    border-radius: 1rem;
    background-color: var(--boxes-color);
}

.card-one h1::before {
    font-family: --primary-font;
    font-size: 2rem;
content: "\00A7";
font-weight: 500;
color: beige;
}

.card-two {
    border: solid black 0.1rem;
    max-width: 50%;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--boxes-color);
}

.card-two h1::before {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
content: "\00A7";
font-weight: 500;
color: rgb(8, 3, 3);
}
.card-three {
    border: solid black 0.1rem;
    max-width: 50%;
    text-align: center;
    border-radius: 1rem;
    background-color: var(--boxes-color);
}

.card-three h1::before {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
content: "\00A7";
font-weight: 500;
color: rgb(14, 122, 4);
}


