*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header */

#head-content {
    background: url(/images/aisvri-iyHY_njb6Jg-unsplash.jpg) no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
}

.container {
    padding: 2rem;
}

.card-one {
    border: solid black 0.1rem;
    margin:  3rem 0rem 1.5rem 37.3rem ;
    max-width: 50%;
    text-align: center;
    color: aliceblue;
    border-radius: 1rem;
    background-color: darkblue;
}

.card-one h1::before {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
content: "\00A7";
font-weight: 500;
color: beige;
}

.card-two {
    border: solid black 0.1rem;
    margin:3rem 0rem 1.5rem 37.3rem ;
    max-width: 50%;
    text-align: center;
    border-radius: 1rem;
    background-color: rgb(196, 116, 19);
}

.card-two h1::before {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
content: "\00A7";
font-weight: 500;
color: rgb(8, 3, 3);
}
.card-three {
    border: solid black 0.1rem;
    margin:  3rem 0rem 1.5rem 37.3rem ;
    max-width: 50%;
    text-align: center;
    border-radius: 1rem;
    background-color: bisque;
}

.card-three h1::before {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
content: "\00A7";
font-weight: 500;
color: rgb(14, 122, 4);
}


