#card {
  border: none;
  box-shadow: 1px 1px 20px black;
  background: #f9f0d9;
  width: 400px;
  height: 550px;
  margin: auto;
}

.card-img {
  background: url(/images/81iC+O0ec2L._SL1448_.jpg) no-repeat center
    center/contain;
  background-size: 400px 290px;
  width: 400px;
  height: 290px;
}

.links-container a {
  padding-right: 15px;
  color: #a3956b;
}
