:root {
    --primary-color:  url(/As-Submits-Html&Css/images/aisvri-iyHY_njb6Jg-unsplash.jpg) no-repeat center center/cover;
    --boxes-color: rgb(169, 93, 93);
    --primary-font: 'Open Sans', sans-serif;
    --primary-font-weight: 400;
    --links-color: black;
}