* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
      font-size: 62.5%;
  }
  
  body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    justify-content: end;
}

.box {
    width: 10rem;
    height: 10rem;
}

.box-one {
    background: green;
}
.box-two {
    background: blue;
}
.box-three {
    background: red;
}