* {
    box-sizing: border-box;
}

body {
    line-height: 1.4em;
}

#primary-container {
  overflow: auto;
  max-width: 1400px;
  margin: 5px auto;
  text-align: justify;
}

.header-container {
  text-align: center;
  padding: 10px;
  margin: auto;
  background: #f4a42c;
  border: solid black 1px;
}

.side-container {
  width: 25.5%;
  margin-left: 60px;
  float: left;
  height: 500px;
  background: #458207;
  border: solid black 1px;
}

.side-container h3 {
  padding-left: 20px;
}

.Main-container {
  width: 66.2%;
  margin-right: 59px;
  height: 500px;
  float: right;
  background: #833b7f;
  border: solid black 1px;
}

.Main-container h3 {
  text-align: right;
  margin-right: 20px;
}

.footer-container {
  text-align: center;
  background: #3566fd;
  border: solid black 1px;
  margin-top: 6px;
  width: 1400px;
  margin-left: 60px;

}

.footer-container h3 {
  margin: 29px
}

.clr {
  clear: both;
}
