

.outer {
    width: 100px;
    height: 100px;
    background: darkcyan;
    margin: 50px;
    position: relative;
}


.container {
    position: absolute;
}

h3 {
    margin-bottom: 5px;
    margin-top: 0;
}

.inner {
    width: 50px;
    height: 50px;
    background: lightgreen;
    margin-top: 5px;
    }
    

    /* Answer 2 */
    /*First i enclosed the text in a heading element, then i had to div the text and the inner square so i can keep the gap between them(inner) and the outer while using positioning meanwhile i used the opposite margin (bottom vs top) for keeping the gap between the text and the inner.  */